@import './fonts.scss';
@import '../layouts/FormLayout.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button, input {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1430px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    // align-items: center;
    // display: flex;
    // justify-content: center;
}

.contact {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        gap: 30px;

        &-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &-title {
            color: #2D2D2D;
            font-size: 35px;
            font-weight: 600;
            line-height: 32px;
        }

        &-text {
            color: #737373;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px; 
            width: 384px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 600px;

        &-name {
            border-radius: 8px;
            border: 1px solid #D2D2D2;
            background: #F6F6F6;
            padding: 12px;
        }

        &-message {
            border-radius: 8px;
            border: 1px solid #D2D2D2;
            background: #F6F6F6;
            padding: 12px 12px 40px 12px;
            
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        background: #DB6B97;
        position: relative;

        &-boxes {
            display: flex;
            flex-direction: column;
            gap: 40px;
            padding: 88px 318px 88px 64px;
        }

        &-box {
            display: flex;
            gap: 24px;

            &-text {
                color: #FFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
            }
        }

        &-socials {
            display: flex;
            gap: 48px;
        }

        &-pic {
            position: absolute;
            right: 0;
            bottom: -100px;
        }
    }
}